/* colors */
:root {
    --color-background: #05a3c2;
    --color-text: white;
    --color-text-pale: rgba(255, 255, 255, 0.8);
    --color-text-dark: rgb(45, 85, 91);
    --color-text-dark-pale: rgba(45, 85, 91, 0.7);
    --color-border-light: lightgray;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.modal-content {
  position: relative;
  width: 80%; /* Responsive width */
  max-width: 900px;
}

.close-button {
  color: #fff;
  position: absolute;
  top: 0px;
  right: -40px;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

.contentContainer {
    font-family: "source-han-sans-cjk-ja", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 48px;
    font-family: "source-han-sans-cjk-ja", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 32px;
    margin-block-start: 80px;
    margin-block-end: 30px;
    font-family: "source-han-sans-cjk-ja", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    color: var(--color-text);
    font-family: "source-han-sans-cjk-ja", sans-serif;
font-weight: 700;
font-style: normal;

}

p {
    font-size:18px;
    text-indent: 1em;
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.backToTop {
    font-size: 24px;
    color: var(--color-text-pale);
    position: absolute;
    left: 20px;
    font-family: "source-han-sans-cjk-ja", sans-serif;
    font-weight: 700;
    font-style: normal;
}


@media screen and (max-width: 800px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
    margin-block-start: 50px;
    margin-block-end: 15px;
  }

  .backToTop {
    font-size: 16px;
    left: 10px;
  }
}
