html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* ????????? */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.iframe-container {

    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.modal-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

p {
    line-height: 0.5;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal-fade-out {
    animation: fadeOut 0.8s forwards;
}

#wrapper {
    width: 100%;
    position: relative;
}

.main-visual {
    width: 100%;
    transition: transform 0.1s ease-out;
    position: absolute;
    z-index: -20;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ?????????????? */
.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}
#wind1{
    position:absolute;
    width:100%;
    z-index:-10;
    top:13%;
}

#wind2 {
    position: absolute;
    width: 120%;
    z-index: -10;
    bottom: 12%;
}


h1{
    margin-top:6%;
}

.imageContainer{
    margin-bottom:20%;
}
#talk-tx {
    width: 40%;
    margin-bottom: 1%;
    padding-top:4%;
}
#talk {
    width: 570px;
    margin: -1%;
    transform: translate(-2%, 0%);
}
#map-all {
    width: 40%;
    transform: translate(5%, 0%);
}

.maps {
    display: flex;
    justify-content: center;
    width: 100%;
}
.textList {
    transform: translate(0%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start; /* ?????? */
    height: 100%;
    max-height: 300px;
    padding-top: 6%;
    margin-left: 5%;
    width: 30%;
}
.textContainer {
    display: flex; /* ?????? */
    justify-content: center;
    align-items: flex-start; /* ???????? */
    padding-top: 2%;
}
.room {
    font-size: 24px;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: 5%;
    white-space: nowrap;
}

.text {
    font-size: 24px;
    text-indent: 1em;
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    white-space: nowrap;
}

p2 {
    text-indent: 1em;
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 158, 189);
    margin-bottom: 10%;
}

.footer {
    bottom: 2%;
}

#name-image {
    width: 20%;
    z-index: 20;
}

.sns {
    z-index: 20;
    margin:0.6%;
    margin-top: -1.6%;
}

.instagram {
    width: 2.8%;
}

.X {
    width: 2.8%;
}

.youtube {
    width: 3.5%;
}

.instagram:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.X:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.youtube:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}



@media screen and (max-width: 700px) {
    .close-button {
        top: -45px;
        right: 10px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

#talk{
    width:98%;
}

    #wind2 {
        bottom: 10%;
    }
    h3 {
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 20px;
        font-family: "source-han-sans-cjk-ja", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(0, 158, 189);
    }

    p2 {
        text-indent: 1em;
        font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: rgb(0, 158, 189);
    }
    p {
        font-size: 14px;
    }




    .instagram {
        position: absolute;
        bottom: 0.3%;
        right: 22%;
        width: 7%;
    }

    .X {
        position: absolute;
        bottom: 0.3%;
        right: 12.9%;
        width: 7%;
    }

    .youtube {
        position: absolute;
        bottom: 0.3%;
        right: 3%;
        width: 8%;
        transform: translate(0%, -10%);
    }


    #name-image {
        left: 82%;
        margin-top: 50%;
        width: 30%;
        margin-bottom:1%;
    }


}
